@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.css';

html,body{
    overflow-x: hidden;
}

p, span, li{
    font-size: 17px;
}


/* transparent background */
.seethrough{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.v-list{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.titlecolor{
    background: linear-gradient(219deg, rgba(124,143,161,1) 0%, rgba(79,94,110,1) 18%, rgba(20,36,50,1) 48%);
}


.Pacifico {
    font-family: Pacifico !important;
}

.Playfair {
    font-family: Playfair Display !important;
    font-style: italic;
}

